[submodule "arm9/core"]
	path = arm9/core
	url = https://github.com/Flagbrew/PKSM-Core.git
[submodule "arm9/Universal-Core"]
	path = arm9/Universal-Core
	url = https://github.com/Universal-Team/Universal-Core.git
